#navbar{
    height: 100px;
    width: 100%;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar a{
   color: white; 
}
#home{
    height: 700px;
    width: 100px;
   }

#about{
    height: 700px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
