*{
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.divsup{
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:azure;
    opacity: 0.8;
}
.upperdiv{
    height: 20px;
    display: flex;
    justify-content: space-between;
    /* width: 50px; */
    /* background-color: gray; */
}
.logo{
    background-color: bisque;
}
#logo_nav{
    height: 10px;
    /* width: 40px; */
    border: none;
    margin: 0.4%;
    /* margin-left: 0px; */
    margin-top: 0px;
    background-color: tan;
}
.i{
    align-items: center;
    background-color: tan;
    /* margin-bottom: 2px; */
    position: relative;
    float: left;
    height: 100px;
    width: 200px;
    margin-left: 50px;
}
.span{
    margin-right: 2px;
    padding-left: 500px;
    position: relative;
    float: right;
}
.phase_2nd{
    height: 500px;
    width: 1200px;
    /* position: relative; */
    background-color:antiquewhite;
    margin-left: 10px;
    /* margin-right: 10px; */
    /* border-radius: none; */
}
.p1{
    font-size: 60px;
    height: 50px;
    width: 600px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.83);
}
.img{
    height: 400px;
    width: 300px;
    float: left;
    /* position: relative; */
    margin-top: 30px; 
    margin-left: 250px;
    /* background-color: tan; */
    background-image: url('image1.jpg');
    background-size: cover;
}
.phase_2nd_text{
    align-items: center;
    height: 500px;
    width: 400px;
    float: right;
    margin-top: 50px;
    margin-right: 150px;
}
.bottle{
    height: 400px;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px; ;
}
#save{
    width:150px;
    height: 30px;
    background-color: rgb(52, 49, 49);
    border-radius: 15px;
    border:none;
    color: white;
    align-items: center;
}
.phase_3rd{
    height: 500px;
    width: 1200px;
    margin-left: 8px;
    background-color:azure;
    /* border:2px solid black; */
}
.part1{
    height: 50px;
    width: 1200px;
    /* border:2px solid black; */
}
.p2{
    /* align-items: center; */
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 500px;
}
.p3{
    margin-left: 400px;
    margin-top:20px ;
    height: 20px;
    width: 600px;
    font-size: 30px;
    /* align-items: center; */
}
.part2{
    height: 400px;
    width: 1200px;
    /* margin-left: 8px; */
    position:relative;
    top:49px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
} 
.three_box{
    height:300px;
    width:700px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* border:1px solid brown; */
}
.three_box1{
    height:300px;
    width:200px;
    /* border:1px solid black; */
    border-radius: 10px;
    background-color: rgb(222, 194, 157);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 60px;
}
.three_box1 p{
    font-size: 10px;
}
.def{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
#arr{
    font-weight: 5px;
    color: rgb(221, 164, 58);
}
#boxpara{
    margin-left:22px;
}
.phase_4th{
    height: 500px;
    width: 1200px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 8px;
    /* background-color: gray; */
    border: 2px solid black;
    background-image: url('image/phase_4th_image.avif');
}
#phase_4th_img{
    height: 390px;
    width: 1100px;
}
.ins{
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 30px;
    position: relative;
    margin-left:700px ;
    margin-top: 60px;
    text-align: center;
}
#phase_4th_dis{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.phase_5th{
    height: 500px;
    width: 1200px;
    margin-left: 8px;
    /* background-color:antiquewhite; */
    /* border: 2px solid red; */
}
.box2{
    height:450px;
    width:1000px;
    margin-top: 30px;
    margin-left:75px ;
}
.b1{
    height:360px;
    width:420px;
    /* background-color: rgb(15, 165, 78); */
    /* border: 1px solid pink; */
    float: right;
    margin-right: 80px;
}
.z1{
    height:180px;
    width:420px;
    background-color: tan;
}
 .z1a{
    height:180px;
    width:210px;
    background-color: tan;
    float: left;
    text-align: center;
}
.z1b{
    height:180px;
    width:210px;
    background-color:  tan;
    float: left;
    text-align: center;
}
.z2{
    height:180px;
    width:420px;
    background-color: tan;
    text-align: center;
}
.z2a{
    height:180px;
    width:210px;
    background-color:  tan;
    float: left;
    text-align: center;
}
.z2b{
    height:180px;
    width:210px;
    background-color:  tan;
    float: left;
    text-align: center;
}
.b2{
    height: 360px;
    width: 420px;
    /* background-color: white; */
    /* border: 1px solid pink; */
    float: left;
    margin-left: 30px ;
    justify-content: center;
    align-items: center;
}

.phase_6th{
    height: 2350px;
    width: 1200px;
    border: 2px solid tan;
    margin-left: 8px;
    background-color: tan;
}
.phase_6_img{
    height: 300px;
    width: 500px;
    border-radius: 20px;
    background-color: aqua;
    margin-left:100px ;
    margin-top: -80px;
    background-image: url('image/phase6img.jpg') ;
}
.imgsize{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}
.grow{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(94, 90, 117);
    margin-left: 400px;
    margin-top: -100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
#q1{
    text-align: center;
    justify-content: center;
}
.secnddiv{
    height: 200px;
    width: 300px;
    /* background-color: red; */
    margin-left: 400px;
    margin-top: 30px;
    border-radius: 10px;
}
.secnddiv2{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    margin-left: 760px;
    margin-top: -200px;
    border-radius: 10px;
}
.sixthphasediv2nd{
    height: 500px;
    width: 1200px;
    /* margin-left:8px; */
    background-color: yellow;
    background-image: url('image/phase7img.jpj.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
}
.sixth{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color:white;
    margin-left: 700px;
    margin-top:-90px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tex{
    height: 120px;
    width: 1200px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid black ; */
    /* text-align: center; */
    justify-content: center; 
    align-items: center;
}
.sqbox{
    height: 700px;
    width: 1000px;
    /* background-color: red; */
    /* border: 2px solid black; */
    margin-left:100px ;
    margin-top: 60px;
}
.r1{
    height: 230px;
    width: 1000px;
    /* background-color: aliceblue; */
}
.r1a{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(160, 76, 11); */
    background-image: url('image/r1a.jpg');
    background-size:cover ;
}
.r1b{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(50, 39, 31); */
    background-image: url('image/r2b.jpeg');
    background-size:cover ;

}
.r1c{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(27, 57, 71); */
    background-image: url('image/r1c.jpg');
    /* align-items: center; */
    /* justify-content: center; */
    background-size: cover ;
}

.ri2{
    height: 230px;
    width: 900px;
    /* background-color: rgb(31, 5, 146); */
}
.r2a{
    height: 230px;
    width: 300px;
    float: left;
    background-color: rgb(123, 8, 125);
    background-image: url('image/r16.jpj.jpeg');
    background-size: cover ;
}
.r2b{
    height: 230px;
    width: 300px;
    float: left;
    background-color: rgb(181, 162, 181);
    background-image: url('image/r15.jpj.jpeg');
    background-size: cover ;
}
.r2c{
    height: 230px;
    width: 300px;
    float: left;
    background-color: rgb(123, 8, 125);
    background-image: url('image/r16.jpj.jpeg');
    background-size: cover ;
}

.r3{
    height: 230px;
    width: 1000px;
    /* background-color: rgb(32, 100, 160); */
}
.r3a{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(24, 167, 38); */
    background-image: url('image/r17.jpj.jpeg');
    background-size: cover ;
}
.r3b{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(24, 167, 38); */
    background-image: url('image/r18.jpj.jpeg');
    background-size: cover ;
}
.r3c{
    height: 230px;
    width: 300px;
    float: left;
    /* background-color: rgb(24, 167, 38); */
    background-image: url('image/r19.jpj.jpeg');
    background-size: cover ; 
}
.last{
    height: 201px;
    width: 1200px;
    /* background-color: antiquewhite; */
    /* border: 2px solid red; */
    text-align: center;
    margin-left:-2px ;
    background-color: white;

}
.phase_7th{
    height: 1000px;
    width: 1200px;
    margin-left: 8px;
    background-color:whitesmoke;
    /* border: 2px solid black; */
}
.phase_last{
    height: 450px;
    width: 300px;
    background-color: tan;
    margin-left: 120px;
    /* margin-top:100px ; */

}
.phase_last_img{
    height: 350px;
    width: 290px;
    background-color: tan;
    border-radius: 20px;
    margin-left: 165px;
    margin-top:-380px ;
    background-image:url('image/finalimg.jpj.jpeg') ;
    background-size: cover ;
    background-repeat: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.resu{
    height: 450px;
    width: 500px;
    background-color:azure;
    border-radius: 20px;
    /* border: 2px solid black; */
    margin-left: 480px;
    margin-top: -420px;
    justify-content: center;
    align-items: center;
}
.pd{
    margin-left: 40px;
}
.name{
    height: 20px;
    width: 500px;
    background-color:azure;

}
#twi{
    color:rgb(17, 19, 20);
}
#insta{
    color:rgb(25, 21, 22);
}
#fac{
    color:rgb(15, 17, 18);
}
.fb{
    height: 70px;
    width: 70px;
    float: left;
    margin-left: 5px;
    /* border: 1px solid rebeccapurple; */
}
.twi{
    height: 70px;
    width: 70px;
    float: left;
    /* border: 1px solid rebeccapurple; */
    margin-left: 20px;
}
.insts{
    height: 70px;
    width: 70px;
    float: left;
    margin-left: 50px;
    /* border: 1px solid rebeccapurple; */
}
.buttom{
    height: 150px;
    width: 1200px;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0.786);
    margin-top: -500px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
span1{
    margin-top: 15px;
}
span{
    color: rgba(14, 14, 205, 0.718);
}